.wrapper {
  p {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0.5em;
    text-transform: uppercase;

    span {
      color: #8cdae5;
    }
  }
}

.right {
  padding-left: 135px;

  #line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 98px;
    height: 1px;
    background-color: #3a3a3a;
  }
}

.left {
  padding-right: 135px;

  #line {
    position: absolute;
    right: 0;
    top: 50%;
    width: 98px;
    height: 1px;
    background-color: #ffffff;
  }
}
