.wrapper {
  display: flex;
}

.active {
  position: relative;
  opacity: 0.5;

  &::before {
    content: "";
    position: absolute;
    left: -4px;
    bottom: 65%;

    height: 1px;
    width: 28px;
    background-color: #fff;
    opacity: 0.5;
  }
}

.modalForm {
  margin-top: 76px;
}

.modalThanksText {
  font-size: 16px;
  line-height: 150%;

  margin-top: 47px;
  max-width: 330px;
}
