.background_img {
  position: absolute;
  z-index: -100;
  top: 0;
  width: 100%; /* Полная ширина экрана */
  overflow: hidden; /* Скрыть часть изображения, если оно выйдет за границы контейнера */
  img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Сохраняет соотношение сторон и масштабирует изображение так, чтобы оно полностью заполнило контейнер */
    display: block; /* Убирает нижний отступ изображения */
  }
}

// ! АДАПТИВ КАРТИНОК СДЕЛАТЬ
