.wrapper {
  color: #fff;

  max-width: 720px;
  padding: 50px 83px 92px;
  background-image: url("/src/assets/image/GlomacoBack.png");
  background-position: center; // Центрирует фоновое изображение
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  margin: 33px 0 47px;
}
