.wrapper {
  color: #fff;

  max-width: 720px;
  padding: 50px 83px 92px;
  background-image: url("/src/assets/image/GlomacoBack.png");
  background-position: center; // Центрирует фоновое изображение
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  margin: 33px 0 47px;
}

.about {
  position: relative;

  font-size: 16px;
  font-weight: 700;
  line-height: 150%;

  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
}
