.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 125px;
  padding: 0 30px;

  @media (min-width: 3440px) {
    padding: 0 100px;
  }
}

.navMenu {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 647px;
  height: 100vh;

  background-color: #fff;
}
