.menu {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-top: 97px;
  margin-right: 193px;
}

.nav {
  text-align: right;
  &__item {
    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }
  &__link {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    padding-right: 25px;

    &.active {
      font-weight: 700;
      color: #8cdae5;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 7px;
        height: 7px;
        background-color: #8cdae5;
        border-radius: 50%;

        transform: translateY(-50%);
      }
    }
  }
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 25px;
  margin-top: 82px;

  &__title {
    font-size: 16px;
    line-height: 150%;

    margin-bottom: 14px;
  }

  svg {
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-top: 82px;

  color: #3a3a3a;
  opacity: 0.5;

  &__tel {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;

    margin-bottom: 3px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__email {
    font-size: 16px;
    line-height: 150%;
    &:hover {
      text-decoration: underline;
    }
  }
}
