.content {
  display: grid;
  justify-content: space-between;

  margin-top: 84px;

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;

    max-width: 587px;
  }

  &__adress {
    font-size: 16px;
    line-height: 150%;

    max-width: 314px;
  }

  &__contact {
    max-width: 168px;
    &_tel {
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
    }

    &_email {
      font-size: 16px;
      line-height: 150%;

      color: #8cdae5;
    }
  }
}
