.container {
  max-width: 1800px;
  padding: 0 30px;
  margin: 0 auto;
}

#blue {
  color: #8cdae5;
}

// body {
//   background-color: black;
// }

.background-img {
  position: absolute;
  z-index: -100;
  top: 0;
  width: 100%; /* Полная ширина экрана */
  height: 916px; /* Высота будет автоматически вычисляться */
  overflow: hidden; /* Скрыть часть изображения, если оно выйдет за границы контейнера */
  img {
    width: 100%;
    object-fit: cover; /* Сохраняет соотношение сторон и масштабирует изображение так, чтобы оно полностью заполнило контейнер */
    display: block; /* Убирает нижний отступ изображения */
  }
}
