.brends {
  max-width: 1552px;
  padding: 0 30px;

  margin: 0 auto;

  margin-top: 200px;

  padding: 106px 150px;
  background-color: #fff;
}

.title_wrapper {
  display: flex;
  justify-content: end;
  padding-right: 150px;
  margin-bottom: 86px;
}

.subTitle {
  min-height: 506px;
  margin-left: 100px;
}

.content {
  display: flex;

  &__img {
    margin-left: 100px;
  }
}
